<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
    <div class="col">
        <h3>Personajes agregados</h3>
        <hr>
        <ul>
            <li>Krilin - 700</li>
            <li>Goku - 800</li>
            <li>Vegeta - 9,500</li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="add()">
            <input type="text" placeholder="Nombre"  />
            <input type="number" placeholder="Agregar"  />
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>
