<h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="add()">
            <input 
               type="text" 
               placeholder="Nombre"
               name="name" 
               [(ngModel)]="new.name"
               />
               <!-- [value]="new.name"
               (input)="changeName($event)" -->
            <input 
               type="number" 
                placeholder="Agregar"
                [value]="new.power" 
                name="power" 
                [(ngModel)]="new.power" 
            />
            <button type="submit">Agregar</button>
</form>
